.about-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 22vh;
  justify-content: center;
  justify-items: center;
  grid-gap: 20px;
  position: relative;
  top: -5vh;
  padding-top: 10px;
  height: 75vh;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.middle-about {
  position: relative;
  left: -5%;
}

.right-about {
  display: grid;
  max-height: 40vh;

  .skill-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .skills {
    margin-top: 20px;
    height: 175px;
    width: 175px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 20px solid #fff;
    border-radius: 50%;
  }

  .skills:hover {
    transform: scale(1.05);
  }
}

.bottom-about {
  display: flex;
  position: relative;
  left: 32.5vw;
  font-size: 1rem;

  p {
    position: relative;
    top: 15px;
  }

  .icons {
    width: 125px;
    height: 125px;
    margin: 0 20px;
    position: relative;
    left: -3%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
    border: 20px solid #fff;
    border-radius: 25%;
    transform-style: preserve-3d;
    transition: all 0.7s linear;
  }
}
.icons:hover {
  transform: rotateY(180deg);
}

.icons:hover > .card-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.75s linear;
}

.family {
  width: 400px;
  height: 400px;
  position: relative;
  top: 15%;
  transform: rotate(-25deg) scale(0.8);
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
}

.fast:hover {
  content: "FAST";
}
@media only screen and (max-width: 1790px) {
  .about-page {
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 1621px) {
  .about-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    top: -5vh;
    left: -5vw;

    .left-about {
      position: relative;
      top: -5vh;

      .family {
        transform: rotate(0deg) scale(0.8);
      }

      .middle-about {
        left: 0;
      }
    }

    .right-about {
      max-height: 0;
      position: relative;
      top: -5vh;

      .skills {
        height: 125px;
        width: 125px;
        margin-bottom: 0;
      }
      h1 {
        margin-bottom: 0;
        font-size: 2rem;
      }
    }

    .bottom-about {
      left: 0;
      top: -5vh;
      p {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .about-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    padding: 0;
    height: 100%;
    left: -2.5vw;
    top: 5vh;

    .family {
      top: -35%;
      transform: rotate(0deg) scale(0.8);
    }

    .middle-about {
      left: 0;
      max-width: 70vw;

      margin: -200px 0 20px;
    }
    .right-about {
      max-height: 100%;
    }

    .bottom-about {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
