.about-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 20px;
  margin: 0 5%;
  padding-top: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
}

.right-about {
  grid-column: 1/-1;

  .skill-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .skills {
    margin: 20px 0;
    height: 175px;
    width: 175px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 20px solid #fff;
    border-radius: 50%;
  }

  .skills:hover {
    transform: scale(1.05);
  }
}

.bottom-about {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1rem;
  justify-content: center;
  justify-items: center;
  margin-bottom: 0;
  p {
    position: relative;
    top: 15px;
  }

  .icons {
    width: 125px;
    height: 125px;
    margin: 0 20px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
    border: 20px solid #fff;
    border-radius: 25%;
    transform-style: preserve-3d;
    transition: all 0.7s linear;
  }
}
.icons:hover {
  transform: rotateY(180deg);
}

.icons:hover > .card-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.75s linear;
}

.family {
  width: 400px;
  height: 400px;
  transform: scale(0.8);
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.808);
}

.fast:hover {
  content: "FAST";
}

@media only screen and (max-width: 1100px) {
  .about-page {
    grid-template-columns: 1fr;

    .family {
      transform: rotate(0deg) scale(0.8);
    }

    .bottom-about {
      grid-template-columns: 1fr 1fr;
    }
  }
}
