.footer {
  position: relative;
  left: -1%;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
  top: 20vh;

  .name {
    color: #0785fe;
  }
  .name:visited {
    color: #0785fe;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    position: relative;
    top: 20vh;
  }
}
