.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;

  .social {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-self: flex-end;
    margin-top: 10px;

    .mail {
      width: 35px;
      transition: all 0.1s linear;
      margin-left: 5px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .link-wrapper {
    display: grid;
    position: relative;

    .menu-content {
      transform: scale(1.5);
      transform-origin: 50% 0;
      position: absolute;
      top: -75px;
      right: -62px;
      display: grid;
      background-color: #0785fe;
      border: 5px ridge #111;
      z-index: 5;
      width: 125px;

      .header-links {
        transition: all 0.2s linear;
        padding: 0 10px;
        background-color: #0785fe;
        color: rgb(255, 255, 255);

        &:visited {
          color: rgb(255, 255, 255);
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .header-links:hover {
    transform: scale(1.2);
  }

  .menu-wrapper {
    position: relative;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-rows: 50px 50px 50px auto;

    .title {
      font-family: "Dancing Script", Georgia, "Times New Roman", Times, serif;
    }

    .menu {
      width: 50px;
      height: 20px;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }

    .menu-text {
      position: relative;
      top: -74px;
      cursor: pointer;
    }
  }

  @keyframes hvr-pulse {
    25% {
      transform: scale(1.1) rotate(0.25turn);
    }
    50% {
      transform: scale(1.15) rotate(0.5turn);
    }
    75% {
      transform: scale(1.2) rotate(0.75turn);
    }
    100% {
      transform: scale(1.25) rotate(1turn);
    }
  }

  .logo-div {
    height: 55px;
    width: 55px;
    .logo {
      position: relative;
      filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.808));
      height: 50px;
      width: 50px;
      transform: perspective(1px) translateZ(0);
      transform-style: preserve-3d;
      transition: all 1s infinite linear;
      &:hover {
        animation: hvr-pulse 1s linear;
        transform: scale(1.25);
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .header {
    .social {
      .social-img {
        display: none;
      }
    }
  }
}
