.portfolio-pics {
  width: 350px;
  height: 215px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.portfolio-pics:hover {
  transform: scale(1.1);
}

.portfolio-page {
  text-align: center;
  margin-left: -3%;
}

.portfolio {
  margin-left: -3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;

  .top-p {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .middle-p-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .bottom-p {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
