.portfolio-pics {
  width: 350px;
  height: 215px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.portfolio-pics:hover {
  transform: scale(1.1);
}

.portfolio-page {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;

  .top-p {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .middle-p-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .bottom-p {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .portfolio {
    grid-template-columns: 1fr;

    .top-p {
      grid-template-columns: 1fr;
    }
    .middle-p-container {
      grid-template-columns: 1fr;
    }
    .bottom-p {
      grid-template-columns: 1fr;
    }
  }
}
